.sec3{
    padding-top: 8%;
}


.sec3_title{
    text-align: center;
}

.sec3_kiso{
    position: relative;
    text-align: center;
    background: #aaa;
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

.kiso_text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.sec3_kiso:before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  bottom: -40px;
  border-right: 90px solid  #aaa;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  transform: rotate(-135deg);
}

