html {
    font-size: 16px;
}

body {
    color: #333;
    font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', YuGothic, 'Yu Gothic', sans-serif;
    width: 100vw;
    background-color: #fcfcfc;
}

/*ヘッダーのcss書くよ*/

header {
    width: 800px;
    margin: 0 auto;
    background-color: #fcfcfc;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
}

.top_nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-image:linear-gradient(
      -45deg,
      #F2C200 6.25%, #F2C200 12.5%,
        #0090CA 12.5%, #0090CA 25%,
      #E83954 25%, #E83954 37.5%,
      #62B91E 37.5%, #62B91E 50%,
      #F2C200 50%, #F2C200 62.5%,
        #0090CA 62.5%, #0090CA 75%,
      #E83954 75%, #E83954 87.5%,
      #62B91E 87.5%, #62B91E 100%);
    border-radius: 50px;
    position: relative;
    margin: 3% 0 10% 0;
}

.top_nav:after {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 1;

}

li{
    z-index: 3;
}


a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    z-index: 3;
}

.header_title {}

.header_title h1 {
    font-size: 3rem;
}

.title1 {
    display: flex;
    align-items: flex-end;
}

.title1 h1 {
    margin-left: 10px;
}

.iro {
    width: 150px;
    height: auto;
}

.title2 {
    padding: 1% 0;
}

.title3 {
    line-height: 30px;
}

.nami {
    height: 40vh;
    width: auto;
    background-image: url(/img/header_nami1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*セクションごとのタイトルの飾り*/
.title_deco:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 0 2px;
    background-image: url(/img/head1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.title_deco:after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 0 2px;
    background-image: url(/img/head2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

